In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Data gathering

In [8]:
data=pd.read_csv('data\\Iris.csv',index_col='Id')
data.columns=['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']

In [9]:
data.head()

    SepalLength  SepalWidth  PetalLength  PetalWidth      Species
Id
1           5.1         3.5          1.4         0.2  Iris-setosa
2           4.9         3.0          1.4         0.2  Iris-setosa
3           4.7         3.2          1.3         0.2  Iris-setosa
4           4.6         3.1          1.5         0.2  Iris-setosa
5           5.0         3.6          1.4         0.2  Iris-setosa

In [10]:
data.shape

(150, 5)

# Data Preprocessing

In [11]:
data['Species']=data['Species'].apply(lambda s: s[5:])
data

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
Id
1            5.1         3.5          1.4         0.2     setosa
2            4.9         3.0          1.4         0.2     setosa
3            4.7         3.2          1.3         0.2     setosa
4            4.6         3.1          1.5         0.2     setosa
5            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
146          6.7         3.0          5.2         2.3  virginica
147          6.3         2.5          5.0         1.9  virginica
148          6.5         3.0          5.2         2.0  virginica
149          6.2         3.4          5.4         2.3  virginica
150          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]